@page "/products"
@inherits ListPageBase<Product, ProductService, ProductFilter>

<h3>Products</h3>

<p>Page: @Page</p>
@if (Result is null)
{
    <p>Loading...</p>
    return;
}

<a class="btn btn-primary mt-3" href="/products/create">Create New Product</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Result.Items)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.Name</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Category?.Name</td>
                <td>
                    <a href="@($"/products/edit/{item.ProductId}")" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Result.TotalPages > 1)
{
    <Pagination ItemsPerPage="Filter.PageSize"
                TotalItems="Result.Total"
                CurrentPageNumber="Page"
                NavUrl="/products?Page=" />
}